# RAULI-ERP Backend - Render
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
jinja2
python-dotenv
requests

# Forzar actualizacion Render

# Forzar actualizacion Render

# Version estable

# Forzar actualizacion Render
