# Copiar a keystore.properties y rellenar (o crear keystore)
# keytool -genkey -v -keystore rauli-upload.keystore -alias rauli -keyalg RSA -keysize 2048 -validity 10000

storePassword=TU_PASSWORD
keyPassword=TU_PASSWORD
keyAlias=rauli
storeFile=../rauli-upload.keystore
